# Python virtual environments
venv/
env/
ENV/
route_optimizer_app/venv/
**/venv/
**/env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary log files
*.log
